## Assignment : Cassandra programming using python
### Nikhil Sai Kumar Vuppalavanchu
#### U90729250

In [22]:
from cassandra.cluster import Cluster
import pandas as pd

#### Creating Cassandra connection

In [6]:
clstr = Cluster()
session =clstr.connect()

#### Creating KeySpace m14

In [8]:
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 WITH REPLICATION ={'class':'SimpleStrategy','replication_factor':'1'}")

#### Creating table as inventory for phones

In [9]:
session.execute(""" CREATE TABLE IF NOT EXISTS m14.inventory(
    sku TEXT,
    name TEXT,
    description TEXT,
    warehouse_num TEXT,
    PRIMARY KEY(sku))

""")

#### Inserting the data into table from data.csv

In [11]:
df =pd.read_csv('data.csv')

In [12]:
df.head()

,sku,name,description,warehouse_num
0,'APL-IPX-64-SL','Apple iPhone X','64GB Silver Unlocked','WH001'
1,'SNG-GS21-128-BK','Samsung Galaxy S21','128GB Black Unlocked','WH002'
2,'MOT-G9P-64-WT','Motorola G9 Power','64GB White Unlocked','WH003'
3,'GOO-PIX4A-128-OR','Google Pixel 4A','128GB Orange Unlocked','WH001'
4,'ONE-NORD2-256-BL','OnePlus Nord 2','256GB Blue Unlocked','WH002'

In [14]:
for index,row in df.iterrows():
    session.execute(f""" INSERT INTO m14.inventory (sku,name,description,warehouse_num)
    VALUES({row[0]},{row[1]},{row[2]},{row[3]})
    """)

In [15]:
result = session.execute("SELECT * FROM m14.inventory")
for rows in result:
    print(rows)

Row(sku='GOO-PIX6-128-BK', description='128GB Black Unlocked', name='Google Pixel 6', warehouse_num='WH003')
Row(sku='GOO-PIX5-64-OR', description='64GB Orange Unlocked', name='Google Pixel 5', warehouse_num='WH002')
Row(sku='SNG-A52-128-WT', description='128GB White Unlocked', name='Samsung Galaxy A52', warehouse_num='WH001')
Row(sku='APL-IPX-64-SL', description='64GB Silver Unlocked', name='Apple iPhone X', warehouse_num='WH001')
Row(sku='ONE-9R-128-BL', description='128GB Blue Unlocked', name='OnePlus 9R', warehouse_num='WH001')
Row(sku='SNG-A32-64-BL', description='64GB Blue Unlocked', name='Samsung Galaxy A32', warehouse_num='WH002')
Row(sku='ONE-NORD2-256-BL', description='256GB Blue Unlocked', name='OnePlus Nord 2', warehouse_num='WH002')
Row(sku='SNG-N21-256-WT', description='256GB White Unlocked', name='Samsung Galaxy Note 21', warehouse_num='WH003')
Row(sku='MOT-MOTO-64-BL', description='64GB Blue Unlocked', name='Motorola Moto G Power', warehouse_num='WH002')
Row(sku='APL-IP13-256-BK', description='256GB Black Unlocked', name='Apple iPhone 13', warehouse_num='WH002')
Row(sku='APL-IP13-128-GR', description='128GB Green Unlocked', name='Apple iPhone 13', warehouse_num='WH003')
Row(sku='MOT-G9P-64-WT', description='64GB White Unlocked', name='Motorola G9 Power', warehouse_num='WH003')
Row(sku='MOT-MOTO-128-WT', description='128GB White Unlocked', name='Motorola Moto G Stylus', warehouse_num='WH003')
Row(sku='GOO-PIX4A-128-OR', description='128GB Orange Unlocked', name='Google Pixel 4A', warehouse_num='WH001')
Row(sku='APL-IP13M-64-BL', description='64GB Blue Unlocked', name='Apple iPhone 13 Mini', warehouse_num='WH001')
Row(sku='ONE-8T-128-BK', description='128GB Black Unlocked', name='OnePlus 8T', warehouse_num='WH003')
Row(sku='MOT-MOTO-64-GR', description='64GB Green Unlocked', name='Motorola Moto G Power', warehouse_num='WH001')
Row(sku='SNG-GS21-128-BK', description='128GB Black Unlocked', name='Samsung Galaxy S21', warehouse_num='WH002')
Row(sku='GOO-PIX6A-256-GR', description='256GB Green Unlocked', name='Google Pixel 6A', warehouse_num='WH001')
Row(sku='ONE-8-256-BK', description='256GB Black Unlocked', name='OnePlus 8', warehouse_num='WH002')

#### Creating a index on warehouse_num column

In [17]:
session.execute("CREATE INDEX warehouse_index ON m14.inventory(warehouse_num)")

#### Flitering the data based on warehouse number as WH002

In [19]:
result = session.execute("SELECT * FROM m14.inventory WHERE warehouse_num ='WH002' ")
for rows in result:
    print(rows)

Row(sku='GOO-PIX5-64-OR', description='64GB Orange Unlocked', name='Google Pixel 5', warehouse_num='WH002')
Row(sku='SNG-A32-64-BL', description='64GB Blue Unlocked', name='Samsung Galaxy A32', warehouse_num='WH002')
Row(sku='ONE-NORD2-256-BL', description='256GB Blue Unlocked', name='OnePlus Nord 2', warehouse_num='WH002')
Row(sku='MOT-MOTO-64-BL', description='64GB Blue Unlocked', name='Motorola Moto G Power', warehouse_num='WH002')
Row(sku='APL-IP13-256-BK', description='256GB Black Unlocked', name='Apple iPhone 13', warehouse_num='WH002')
Row(sku='SNG-GS21-128-BK', description='128GB Black Unlocked', name='Samsung Galaxy S21', warehouse_num='WH002')
Row(sku='ONE-8-256-BK', description='256GB Black Unlocked', name='OnePlus 8', warehouse_num='WH002')